header {
  position: fixed;
  top:0;
  z-index: 1000;
}

.home_nav a p {
  color:white;
}

/* Content Area */
h1 {
  display:grid;
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.homecontent p {
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.descriptiontext{
  max-width: 60%;
  margin: 0 auto;
}

.button {
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
}

.button a{
  box-sizing: border-box;
  padding: 12px 20px;
  text-transform: capitalize;
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #6ABDC4;
  color:white;
  border-color: #6ABDC4;
  width: 200px;
  text-decoration: none;
}

.copyright {
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  color: white;
  font-weight: 400;
  position: fixed;
  bottom: 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-bottom: 0px;
}

/* Background Image */
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height:100%;
  position:absolute;
  background-image: url("../images/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width:100%;
}

.homecontent {
  max-height: 260px;
  width: 80%;
  margin: 0 auto;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: center;
}
